/* Seleciona a tela inteira (o corpo do site) para aplicar os estilos gerais */
body { 
    
    /* Define a fonte padrão como Arial (ou outra fonte sem serifa do sistema) */
    font-family: Arial, sans-serif; 
    
    /* Dá um respiro de 20 pixels nas margens internas da tela para o texto não ficar colado nos cantos */
    padding: 20px;
    
    /* Define a cor de fundo como um cinza bem escuro (estilo Dark Mode) */
    background-color: #222;
    
    /* Define a cor de todos os textos gerais como um tom de azul muito claro, quase branco */
    color: aliceblue; 
    
/* Fecha as regras do body */
}

/* Seleciona a nossa lista inteira através da classe 'mapa-site' */
.mapa-site { 
    
    /* Remove os marcadores padrão da lista (aquelas famosas "bolinhas" pretas) para deixar o visual mais limpo */
    list-style-type: none; 
    
/* Fecha as regras da lista geral */
}

/* Seleciona apenas os itens principais do mapa (os tópicos maiores) */
.nivel-1 { 
    
    /* Deixa a fonte em negrito para dar destaque a essas categorias principais */
    font-weight: bold; 
    
    /* Cria um espaço de 10 pixels na parte de cima de cada item principal, separando bem os blocos de conteúdo */
    margin-top: 10px; 
    
/* Fecha as regras do nível 1 */
}

/* Seleciona os subitens do mapa (os tópicos menores que ficam "dentro" do nível 1) */
.nivel-2 { 
    
    /* PROPRIEDADE OBRIGATÓRIA DO EXERCÍCIO 11: Cria um recuo na primeira linha do texto. Aqui, empurramos o texto 40 pixels para a direita, dando a impressão de hierarquia! */
    text-indent: 40px; 
    
    /* Muda a cor da fonte dos subitens para um cinza claro (#ccc), diferenciando-os ainda mais dos itens principais */
    color: #ccc;
    
/* Fecha as regras do nível 2 */
}