/* Seleciona o corpo da página para aplicar os estilos globais */
body { 
    
    /* Define a fonte padrão como Arial ou outra sem serifa do sistema */
    font-family: Arial, sans-serif; 
    
    /* Dá um respiro interno de 20 pixels nas bordas da tela */
    padding: 20px;
    
    /* Aplica um fundo cinza bem escuro para manter o estilo de Dark Mode */
    background-color: #222;
    
    /* Define a cor de todos os textos gerais como um tom de azul clarinho, quase branco */
    color: aliceblue; 
    
/* Fecha as regras do body */
}

/* Seleciona a caixa que engloba todos os membros da equipe */
.container-equipe {
    
    /* PROPRIEDADE OBRIGATÓRIA DO EXERCÍCIO 14: Ativa o Flexbox. Isso tira os itens do padrão "um embaixo do outro" e os coloca lado a lado de forma inteligente */
    display: flex; 
    
    /* Cria um espaçamento (vão) exato de 20 pixels entre os cartões dos membros da equipe */
    gap: 20px;
    
/* Fecha as regras do container da equipe */
}

/* Seleciona individualmente o cartão de cada membro da equipe */
.membro { 
    
    /* Cria uma borda sólida de 1 pixel em cinza claro para delimitar o cartão */
    border: 1px solid #ccc; 
    
    /* Adiciona um espaço interno de 15 pixels para o texto e a foto não colarem na borda do cartão */
    padding: 15px; 
    
    /* Centraliza todo o conteúdo dentro do cartão (foto e textos) */
    text-align: center; 
    
    /* Trava a largura de cada cartão em exatos 200 pixels, mantendo a uniformidade */
    width: 200px; 
    
/* Fecha as regras do cartão do membro */
}

/* Seleciona EXATAMENTE a imagem que está dentro da classe '.membro' */
.membro img { 
    
    /* Arredonda as bordas em 50%, transformando a foto quadrada em um círculo perfeito */
    border-radius: 50%; 
    
    /* Força a largura da foto para 100 pixels */
    width: 100px; 
    
    /* Força a altura da foto para 100 pixels (essencial para o círculo não virar uma oval) */
    height: 100px; 
    
/* Fecha as regras da foto do membro */
}