/* Seleciona o corpo da página para aplicar os estilos globais */
body { 
    
    /* Define a fonte padrão como Arial ou outra sem serifa do sistema */
    font-family: Arial, sans-serif; 
    
    /* Centraliza todos os elementos e textos da página */
    text-align: center; 
    
    /* Dá um respiro interno de 50 pixels nas bordas da tela */
    padding: 50px; 
    
    /* Aplica um fundo cinza bem escuro, perfeito para um site com estilo tech/futurista */
    background-color: #222; 
    
    /* Define a cor de todos os textos gerais como branco */
    color: white; 
    
/* Fecha as regras do body */
}

/* REGRA AVANÇADA: O '@keyframes' cria uma linha do tempo para a animação. O nome dessa animação será 'piscar' */
@keyframes piscar {
    
    /* No marco zero (início) da animação: a cor do texto é amarela (#ffeb3b) */
    0% { color: #ffeb3b; }
    
    /* Na metade do tempo da animação (50%): a cor muda para laranja e o texto cresce 10% (scale 1.1), dando um efeito de pulso */
    50% { color: #ff9800; transform: scale(1.1); }
    
    /* No final da animação (100%): ele volta para a cor amarela original, completando o ciclo suavemente */
    100% { color: #ffeb3b; }
    
/* Fecha a regra da animação */
}

/* Seleciona especificamente o nosso cronômetro (a tag <time>) */
.contador {
    
    /* Aumenta bastante o tamanho da fonte para 30 pixels, dando destaque ao relógio */
    font-size: 30px; 
    
    /* Deixa o texto em negrito */
    font-weight: bold; 
    
    /* Permite aplicar margens verticais no elemento sem quebrar a linha de forma brusca */
    display: inline-block; 
    
    /* Aplica uma margem de 20 pixels em cima e embaixo, e zero nas laterais */
    margin: 20px 0;
    
    /* PROPRIEDADE CSS OBRIGATÓRIA DO EXERCÍCIO 15: Aplica a animação que criamos acima. Chama a animação 'piscar', faz ela durar 1.5 segundos e repete em um ciclo infinito (infinite) */
    animation: piscar 1.5s infinite; 
    
/* Fecha as regras do contador */
}

/* Seleciona a nossa lista de recursos */
ul {
    
    /* Faz a caixa da lista se comportar como um bloco em linha, o que permite que ela obedeça ao alinhamento central do 'body' sem esticar pela tela toda */
    display: inline-block;
    
    /* Alinha os textos dos itens da lista à esquerda. (A lista inteira fica centralizada na tela, mas o texto dentro dela fica retinho do lado esquerdo) */
    text-align: left;
    
/* Fecha as regras da lista */
}