/* Estilos aplicados a toda a tela (corpo da página) */
body { 
    
    /* Define a fonte padrão como Arial (ou outra fonte limpa do sistema do usuário) */
    font-family: Arial, sans-serif; 
    
    /* Cria um espaço (respiro) de 20 pixels nas margens internas da tela inteira */
    padding: 20px;
    
    /* Aplica uma cor de fundo escura (quase preta), criando um estilo "Dark Mode" */
    background-color: #222;
    
    /* Define a cor de todos os textos como um tom de azul clarinho (próximo ao branco) para contrastar com o fundo */
    color: aliceblue; 
    
/* Fecha as regras do body */
}

/* Regras específicas para a nossa lista de postagens como um todo */
.lista-postagens {
    
    /* PROPRIEDADE OBRIGATÓRIA DO EXERCÍCIO 4: Transforma os marcadores padrão (bolinhas) da lista em quadrados */
    list-style: square; 
    
    /* Empurra a lista 20 pixels para a direita, organizando o alinhamento dos quadrados */
    padding-left: 20px;
    
/* Fecha as regras da lista de postagens */
}

/* Regras para cada postagem individualmente (cada item 'li') */
.postagem { 
    
    /* Cria um espaço externo de 30 pixels na parte de baixo, afastando uma postagem da outra */
    margin-bottom: 30px; 
    
    /* Desenha uma linha fina de 1 pixel, sólida e de cor clara (#eee) na parte inferior, servindo como divisória visual entre os posts */
    border-bottom: 1px solid #eee; 
    
    /* Dá um respiro interno de 10 pixels na parte de baixo, evitando que o texto fique grudado na linha divisória que acabamos de criar */
    padding-bottom: 10px; 
    
/* Fecha as regras individuais da postagem */
}